

#player{
    max-width: 75%;
    width: 380;
    position: absolute;
    top: 180px;
    right: 110px;
}

.video{
    height: ;
    width: 380;
}

#controls{
    margin-right: 40%;
}

#controls ul{
    list-style: none;
}

#controls pre{
    border: 6px solid #E7E9F3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#controls ul li {
    margin: 40px;
}

#controls ul li code{
    padding: 24px;
    line-height: 1.45;
    font-size: 13px;
}



#progress-bar{
    position: relative;
    width: 100%;
    height: 20px;
    cursor: pointer;
}


#controls i {
    color: #000;
    font-size: 32px;
    cursor: pointer;
}

#volume-input{
    height: 32px;
    width: 45px;
}

#next,
#prev{
    display: block;
}


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

@media (max-width: 1200px) {

    #player{
        max-width: 100%;
        position: static;
    }

    #controls{
        margin-right: 0;
    }

    #bsaHolder{ display:none;}
}